@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant:wght@700&display=swap');
body {
    font-family:arial, sans-serif;
    font-size: 12pt;

}

p {
    color: red;
    padding-left: 10px;
}

h1 {
    font-family: 'Agbalumo';
    font-size: 36pt;
    
}
main, header, footer, nav ul {
    max-width: 50rem;
    margin: 0 auto 0 auto;

}
/*main {
    background-color: bisque;
}*/

/* nav ul li {
    display: inline-block;
    background-color: grey;
    padding: 1em;
    margin: 1em;
} */

header {
    /*background-image: url("../img/polacks.jpg");
    background-size: cover;*/
   /* overflow: hidden;
    width: 100%;
    height: 200px;*/

    /*opacity: 0.5;

}*/
header img {
    overflow: hidden;
    width:100%;
    height:200px;
    opacity: 0.5;
    
    

}

header h1 {
    width:40rem;
    margin-top:30px;
    text-align: center;
    position:absolute;
    top:10%;

}

nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 9.25em);
    gap: 1em;
    padding: 0;
}

nav li {
    display: block;
    background-color: grey;
    padding: 1em;
}

.Very-good {
    color: green;
}

.Master {
    color: green;
    font-weight: bold;
}

.menu-items {
    color: #ff5500;
 }
 
 #allergens {
    text-transform: uppercase;
    font-weight: bold;
 }
 .common-section{
    margin: 20px 10px 20px;
    padding: 1em 1em 1em;
    
 }

#burger-menu {
    background-color: black;
    color:white;
   
    /*padding: 3px 5px; */   
    border: 10px double #ffffff
}

#burger-menu div {
    margin: 1px 5px 1px;   
}

#info{

    /*padding: 0px 5px; */
    border: 10px double #000000;

}
/*.customer-info form{
    margin: 10px 20px 10px;
    padding: 20px 0px 10px;
}*/

button {
    margin-top:10px;
}

button:hover {
    background-color:gray;
    cursor:pointer;
 }

 .wrapper {
    display:grid;
    grid-gap:3%;
    grid-template-columns: 20% 20% 20%;
 }
 .box {

 }

 .burger {
 }

 .veganburger {

 }

 .sallad {

 }
